<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CreditoEntities" connectionString="metadata=res://*/CreditoModel.csdl|res://*/CreditoModel.ssdl|res://*/CreditoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP-PB450;initial catalog=prestamo;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PrestamoEntities" connectionString="metadata=res://*/CreditoModel.csdl|res://*/CreditoModel.ssdl|res://*/CreditoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP-PB450;initial catalog=prestamo;persist security info=True;user id=sa;password=sqlserverMultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFEntities" connectionString="metadata=res://*/TFModel.csdl|res://*/TFModel.ssdl|res://*/TFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP-PB450;initial catalog=prestamo;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TCEntities" connectionString="metadata=res://*/TCModel.csdl|res://*/TCModel.ssdl|res://*/TCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201.220.25.106;initial catalog=prestamo;user id=prestamo;password=Asx2020A2468b2402;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>